body{
	font-family: "Sansita", san-serif;
	text-align: center;
	background-color: #011627;
	border: 60px solid #2EC486;
	margin: 0px;
}

.emailform,h1,h2,p{
	color: white;
}

#Sub{
	color: rgb(245, 90, 66);
	height: 45px;
	width: 85px;
	border-radius: 25px;
}

form{
	margin-bottom: 10px;
}