*{
    margin: 0;
    padding: 0;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.com-logo{
    display: flex;
    justify-content: left;
    align-items: left;
}

.logo img{
    width: 5rem;
    border: 3px solid whitesmoke;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    justify-content: left;
    transition: transform 5s, filter 3s ease-in-out;
    filter: brightness(200%);
    -webkit-filter: brightness(200%);
}

.com-logo img {
    width: 5rem;
    border: 3px solid #c28a8a;
    transform-origin: 50% 10%;
    transition: transform 5s, filter 3s ease-in-out;
    filter: brightness(150%);
    -webkit-transition: transform 5s, filter 3s ease-in-out;
    -moz-transition: transform 5s, filter 3s ease-in-out;
    -ms-transition: transform 5s, filter 3s ease-in-out;
    -o-transition: transform 5s, filter 3s ease-in-out;
}

.com-logo img:hover{
    filter: brightness(100%);
    transform: scale(2,3);
    -webkit-transform: scale(2,3);
    -moz-transform: scale(2,3);
    -ms-transform: scale(2,3);
    -o-transform: scale(2,3);
}

.logo img:hover{
    transition: transform .7s ease-in-out;
    transform: scale(1.4);
    transform-origin: 0 0;
    transform: scale(1.25) translateX(-40%);
    -webkit-transform: scale(1.25) translateX(-40%);
    -moz-transform: scale(1.25) translateX(-40%);
    -ms-transform: scale(1.25) translateX(-40%);
    -o-transform: scale(1.25) translateX(-40%);
    -webkit-transition: transform .7s ease-in-out;
    -moz-transition: transform .7s ease-in-out;
    -ms-transition: transform .7s ease-in-out;
    -o-transition: transform .7s ease-in-out;
}

.navbar{
    display: flex;
}

.nav-list{
    width: 50%;
    background-color: rgb(207, 63, 207);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list:hover{
    background-color: goldenrod;
}

.nav-list li{
    list-style: none;
    padding: 25px 30px;
}

.nav-list li a{
    text-decoration: none;
    color: black;
    
}

.nav-list li a:hover{
    color: greenyellow;    
}

.right-nav{
    width: 50%;
    background-color: blueviolet;
    text-align: right;
}

.right-nav:hover{
    background-color: yellowgreen;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    align-items: center;
}