*{
    margin: 0;
    padding: 0;
}

.logo{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 5rem;
    border: 3px solid whitesmoke;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    justify-content: left;
}

.logo img:hover{
    transition: transform .7s ease-in-out;
    transform: scale(1.4);
    transform-origin: 0 0;
    transform: scale(1.25) translateX(-40%);
    -webkit-transform: scale(1.25) translateX(-40%);
    -moz-transform: scale(1.25) translateX(-40%);
    -ms-transform: scale(1.25) translateX(-40%);
    -o-transform: scale(1.25) translateX(-40%);
    -webkit-transition: transform .7s ease-in-out;
    -moz-transition: transform .7s ease-in-out;
    -ms-transition: transform .7s ease-in-out;
    -o-transition: transform .7s ease-in-out;
}

.navbar{
    display: flex;
}

.nav-list{
    width: 50%;
    background-color: rgb(207, 63, 207);
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-list li{
    list-style: none;
    padding: 25px 30px;
}

.nav-list li a{
    text-decoration: none;
    color: black;
    
}

.nav-list li a:hover{
    color: greenyellow;    
}

.right-nav{
    width: 50%;
    background-color: blueviolet;
    text-align: right;
}