@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0c1301;
}

nav {
    float: left;
    width: 20%;
    height: 640px;
    background: #ccc;
    padding: 20px;
}

.side-bar h4 {
    height: 40px;
}

.side-bar label[id="lblGreetings"] {
    position: fixed;
    bottom: 1px;
    top: 200px;
    color: rgb(173, 74, 38);
}

.form {
    justify-content: center;
    text-align: center;
    height: 200px;
    align-items: center;
    box-sizing: border-box;
}

.login {
    text-align: center;
    font-weight: 400;
    height: 30px;
    color: blue;
}

.input {
    text-align: center;
}

.input .inputBox {
    margin-top: 30px;
}

.input .inputBox input[type="text"] {
    box-sizing: border-box;
    box-shadow: inset 5px 5px 5px rgba(125, 125, 0, 0.2), -2px -2px 5px rgba(0, 0, 0, 0.3), inset 5px 5px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(0, 0, 0, 0.3);
}

.input .inputBox input[type="submit"]:hover {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 2px;
    font-size: 20px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.input .inputBox label {
    font-weight: 600;
    color: blueviolet;
}

.forget {
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    font-size: 15px;
    color: #1aa51a;
}